* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 10px;
}

window#waybar {
    background-color: #1e1e28;
}

#workspaces, #pulseaudio, #clock, #tray, #cpu, #backlight, #memory, #temperature, #battery, #custom-notification, #mode {
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #363a4f;
}

#cpu {
    background-color: #96cdfb;
}

#workspaces {
    transition: none;
    background: #363a4f;	
    padding-left: 0px;
    padding-right: 7px;
}

#workspaces button {
    border-radius: 10px;
    color: #b8c0e0;
    background-color: #363a4f;
}

#workspaces button.focused {
    color: #d79921;
}

#workspaces button:hover {
    background: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

#pulseaudio {
    background-color: #fae3b0;
}

#clock {
    background-color: #abe9b3;
}

#tray {
    background-color: #363a4f;
    padding-left: 10px;
    padding-right: 10px;
}

#backlight {
    background-color: #f7bc95;
}

#memory {
    background-color: #c6aae8;
}

#temperature {
    background-color: #a3b9ef;
}

#battery {
    background-color: #b5e8e0;
}

#power {
    border-radius: 7px;
    padding-left: 4px;
    padding-right: 4px;
}

#custom-notification {
    color: #eeeeee;
    background-color: #363a4f;
    padding-left: 12px;
    padding-right: 12px;
    font-family: "NotoSansMono Nerd Font";
}

#mode {
    background-color: #363a4f;
    color: #b8c0e0;
}
