@define-color window_background #282828;
@define-color tooltip_background #3B4252;
@define-color background #353535;
@define-color border #4C566A;
@define-color normal_text #EBDBB2;
@define-color urgent_text #FB4934;
@define-color workspace_urgent #D08770;
@define-color workspace_focused #98971A;
@define-color workspace_active #81A1C1;

* {
    border: none;
    min-height: 0;
    font-family: "JetbrainsMonoNL Nerd Font Propo";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    border-radius: 3px;
}

window#waybar {
    background: @window_background;
    border: 2px solid @border;
}

tooltip {
    background-color: @tooltip_background;
    border: 2px solid @border;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

#clock,
#tray,
#tray menu,
#cpu,
#backlight,
#memory,
#battery,
#temperature,
#bluetooth,
#idle_inhibitor,
#mode,
#pulseaudio {
    color: @normal_text;
    background-color: @background;
    border: 2px solid @border;
    margin: 6px;
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#workspaces {
    background-color: @background;
    margin: 6px;
    border: 2px solid @border;
    border-bottom: none;
}

.modules-left #workspaces button {
    all: initial;
/*    min-width: 0; */
    box-shadow: inset 0 -3px transparent;
    padding: 5px 8px 5px 5px;
    margin: 0px;
    color: @normal_text;
    border-radius: 0px;
    border-bottom: 2px solid @border;
}

.modules-left #workspaces button.active {
    background-color: @workspace_active;
    padding: 5px 10px;
}

#workspaces button.focused {
    color: @workspace_focused;
    border-bottom: 2px solid @workspace_focused;
    border-radius: 0px;
}

#workspaces button:hover {
    background: @workspace_focused;
    color: @normal_text;
}

#workspaces button.urgent {
    background-color: @workspace_urgent;
}

#cpu.critical,
#memory.critical {
    background-color: @background;
    border: 2px solid @border;
    color: @urgent_text;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: @background;
    border: 2px solid @border;
    color: @urgent_text;
}

#tray label {
    color: @normal_text;
    background-color: @background;
    margin: 2px;
    padding: 2px;
}

#tray item:hover {
    background-color: @workspace_focused;
    color: @urgent_text;
}
