@define-color background #282828;
@define-color red #CC241D;
@define-color green #B8BB26;
@define-color yellow #D79921;
@define-color blue #458588;
@define-color purple #B16286;
@define-color aqua #689D6A;
@define-color gray #928374;
@define-color orange #D65D0E;
@define-color foreground #D5C4A1;
* {
    border: none;
    min-height: 0;
    font-family: "JetbrainsMonoNL Nerd Font Propo";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
    border-radius: 4px;
}

window#waybar {
    background: @background;
    border: 2px solid @gray;
}

tooltip {
    background-color: @background;
    border: 2px solid @gray;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

#clock,
#tray,
#tray menu,
#cpu,
#backlight,
#memory,
#battery,
#temperature,
#bluetooth,
#idle_inhibitor,
#mode,
#pulseaudio {
    color: @foreground;
    background-color: @background;
    border: 2px solid @gray;
    margin: 6px;
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#workspaces {
    background-color: @background;
    margin: 6px;
    border: 2px solid @gray;
    border-bottom: none;
    border-top: none;
}

.modules-left #workspaces button {
    all: initial;
/*    min-width: 0; */
    box-shadow: inset 0 -3px transparent;
    padding: 5px 8px 5px 5px;
    margin: 0px;
    color: @foreground;
    border-radius: 0px;
    border-bottom: 2px solid @gray;
    border-top: 2px solid @gray;
}

.modules-left #workspaces button.active {
    background-color: @foreground;
    background: @background;
    padding: 5px 10px;
}

#workspaces button.focused {
    color: @green;
    background: @background;
    border-bottom: 2px solid @green;
    border-radius: 0px;
}

#workspaces button:hover {
    border-top: 2px solid @green;
    background: @background;
    color: @foreground;
}

#workspaces button.urgent {
    background-color: @red;
}

#cpu.critical,
#memory.critical {
    background-color: @background;
    border: 2px solid @gray;
    color: @red;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: @background;
    border: 2px solid @gray;
    color: @red;
}

#tray label {
    color: @foreground;
    background-color: @background;
    margin: 2px;
    padding: 2px;
}

#tray item:hover {
    background-color: @background;
    color: @red;
}
